# AWS Cognito Configuration
COGNITO_REGION=
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=

# AWS DynamoDB Configuration
DYNAMODB_REGION=
DYNAMODB_TABLE_NAME=

# AWS API Gateway WebSocket Configuration
WEBSOCKET_API_URL=